<h1>Song#song_created</h1> 
<%= @user.email %> create <%= @song.name %>
<p>
  <%= @greeting %>, find me in app/views/song_mailer/song_created.html.erb
</p>

<%= image_tag attachments['ong-putin-16797989949601625139011.jpg'].url, alt:'photo', width: 200 %>