<h1>Forgot your password?</h1>

Hello <%= @user.email =%><br>

Someone requested a reset of your password

If this was you, click the link <a href="<%= @url %>"><%= @url %></a> to reset your password. The link will expire automatically in 4 hours

<p>
  <%= @greeting %>, find me in app/views/password_reset_mailer/password_reset.html.erb
</p>
